<div class="footer">
  <div class="container">
    <div class="row footerRow">

      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title"> {{site.title}}</span>
            <br><br>
            <span>Plot No. 146, Sector 44,<br />Gurugram, Haryana -122003 </span>
            <br>
            {% include social.html %}
          </li>
        </ul>
      </div>

      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title"> Quick Links </span>
            <br> <br>
            {% assign footermenu = site.data.menus.footer | sort: 'weight' %}
            {% for item in footermenu %}
            <span>
          <li class="{% if item.url == page.url %}active{% endif %} footer-links">
            <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
          </li> <br></span>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title"> Contact Us</span>
            <br><br>
            <span>If you would like to share your ideas, <br>dummy text insert here </span>
            <br>
            <div class="call-email"><strong>Email: </strong>
              <a href="mailto:{{ .site.data.contact.email }}">
                {{ site.data.contact.email }}
              </a>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>