<!-- faq section -->
{% if page.show-second-faq %}
<h2>{{ page.faq-heading-2 }}</h2>
<div class="container accord">
  {% assign i = -1 %}
  {% for ques in page.questions-block2 %}
  {% assign i = i | plus:1 %}
  <button class="accordion2 question"><i class="fas fa-chevron-circle-right"></i> {{ page.questions-block2[i] }}</button>
  <div class="accordion-content">
    <p class="answer"> {{ page.answers-block2[i] }}</p>
    <br><img class="faq-image" src="{{ page.faqImages21[i] | prepend: site.baseurl}}" alt="sangam" onerror='this.style.display = "none"'/>
    <img class="faq-image" src="{{ page.faqImages22[i] | prepend: site.baseurl}}" alt="sangam" onerror='this.style.display = "none"'/>
  </div>
  {% endfor %}
</div>

<script type="text/javascript" src="{{ '/assets/js/accordion-2.js' | relative_url }}"></script>
{% endif %}
