.page-team {

    .header{
        .main-menu{
            padding-top: 20px !important;
        }
    }

    // .team-single{
    //     padding-left: 50px;
    // }

    .jobtitle {
        color: $accent;
        margin: -10px 0 10px 0; //top right bottom left;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
    }
    .content {
        text-align: justify;
        padding-right: 50px;
        hr{
            border-bottom: 0.5px solid rgba(51, 51, 51, 0.123);
        }

        h3{
            font-weight: 500;
        }
    }

    ul li {
        display: inline-block;
        margin-top: -20px;
    }

    .social-team {
        width: 20px;
        height: 20px;
        &:hover {
            cursor: pointer;
            opacity: 80%;
            transform: translateY(-0.8px);
        }
    }

    //mobile responsiveness 
    @media screen and (max-width: 600px) {
        .row{
            flex-direction: column-reverse;

            img{
                width: 95%;
                height: 95%;
                display: block;
                margin: 0 auto;
            }

            .team-single{
                margin-top: 40px;
                .title{
                    font-size: 32px !important;
                    padding-left: 10px;
                }
                .jobtitle{
                    padding-left: 10px;
                }
                .content{
                    padding: 0 10px 0 10px;
                }
            }
        }

        #main-menu-mobile{
            ul li{
                display: block;
                position: relative;
                padding-bottom: 20px  !important;
            }
        }
    }

    //tablet responsiveness 
    @media screen and (min-width: 768px) and (max-width: 1180px) {
        .row{
            flex-direction: column-reverse;

            .col-md-8, .col-md-4{
                max-width: 100% !important;
            }

            img{
                width: 60% !important;
                height: 60% !important;

            }

            .team-single{

                margin-top: 40px;
                .title{
                    font-size: 32px !important;
                }
                .content{
                    padding: 0 !important;
                }
            }
        }

    }
}
