.page-teams {
  .team-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;
    .team-image {
      height: 60px;
      width: 60px;
      margin-right: 10px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 60px;
      }
    }
    .team-meta {
      flex: 1;
      h3 {
        margin: 0;
        font-size: 22px;
        font-weight: normal;
      }
      p {
        color: $black;
        text-transform: uppercase;
        margin: 0;
        font-size: 14px;
        font-weight: 500;
      }
      .team-name{
        font-weight: 500;
      }
    }
    .team-content {
      margin-top: 20px;
      flex: 1 0 100%;
    }
  }

  .team-summary-large {
    background-color: $white-offset;
    padding: 30px;
    border-radius: 3px;
    .team-image {
      height: 90px;
      width: 90px;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 90px;
      }
    }
  }

  .teamImg{
    img{
      width: 250px;
      height: 250px;
    }
  }

  //mobile responsiveness
  @media screen and (max-width: 600px) {
    .intro {
      margin-top: 50px !important;

      p {
        padding-bottom: 0 !important;
      }
    }

    .teamImg img{
      width: 100% !important;
      height: 100% !important;
    }

    .profiles-row {
      margin-top: -20px !important;
      margin-bottom: 0;
    }
  }


  //tablet responsiveness 
  @media screen and (min-width: 768px) and (max-width: 1180px) {

    .profiles-row{
      margin-bottom: 40px;
      .col-lg-3{
        width: 50% !important;
      }

      img{
        width: 100% !important;
        height: 100% !important;
      }
    }

  }

}
