.page-portfolios {
  .profiles-row {
    margin-left: -30px;
  }

  .portfolio-image:hover {
    transform: translateY(-5px);
  }

  .portfolio-filters {
    margin-top: -100px;
    margin-bottom: 110px;
    margin-left: 20px;
  }

  .portfolio-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
    .portfolio-image {
      height: 60px;
      width: 60px;
      margin-right: 10px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 60px;
      }
    }
    .portfolio-meta {
      flex: 1;
      margin-left: 9px;
      h2 {
        margin: 0;
        font-size: 22px;
        font-weight: normal;
      }
      p {
        color: $black;
        text-transform: lowercase;
        margin: 0;
        font-size: 12px;
        font-weight: 500;
      }
    }
    .portfolio-content {
      margin-top: 20px;
      flex: 1 0 100%;
    }
  }

  .portfolio-summary-large {
    background-color: $white-offset;
    padding: 30px;
    border-radius: 3px;
    .portfolio-image {
      height: 90px;
      width: 90px;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 90px;
      }
    }
  }

  //mobile responsiveness
  @media screen and (max-width: 600px) {
    .intro {
      margin-top: 50px !important;
      margin-bottom: -30px !important;

      p {
        padding-bottom: 0 !important;
      }
    }

    .profiles-row{
      margin-bottom: 0;
    }

    .portfolio-filters {
      margin-top: 0px !important;
      margin-left: 10px !important;

      .filter-btn{
        padding-right: 10px !important;
      }
    }

    .filter-gallery{
      .portfolio-image{
        margin-right: 20px !important;
        margin-left: 20px !important;
      }
      img{
        width: 340px !important;
        height: 200px !important;
      }
    }
  }

  //tablet responsiveness 
   @media screen and (min-width: 768px) and (max-width: 1180px) {
    .inner-heading-intro{
      padding-left: 30px !important;
    }
    .profiles-row{
      margin-left: 0 !important;
      margin-bottom: 40px;
      img{
        width: 100% !important;
        height: 100% !important;
        margin: 0 auto;
        display: block;
      }

    }

  }


  
}
