.page-team {

    .header{
        .main-menu{
            padding-top: 20px !important;
        }
    }

    .jobtitle {
        color: $primary;
        margin: -10px 0 10px 0; //top right bottom left;
        font-weight: 500;
        font-size: 20px;
        text-decoration: underline;
    }
    .content {
        padding-right: 50px;
        text-align: justify;

        hr{
            border-bottom: 0.5px solid rgba(51, 51, 51, 0.123);
        }
    }

    ul li {
        display: inline-block;
        margin-top: -20px;
    }

    .social-team {
        width: 20px;
        height: 20px;
        &:hover {
            cursor: pointer;
            opacity: 80%;
            transform: translateY(-0.8px);
        }
    }

    @media screen and (max-width: 600px) {
        #main-menu-mobile{
            ul li{
                display: block;
                position: relative;
                padding-bottom: 20px  !important;
            }
        }
    }
}
