.page-resource {
  
  .section{
    margin-top: 30px;
  }

  .text-widget{
    .overlineText{
      text-transform: uppercase;
    }
    .content{
      line-height: 25px;
    }
    h2{
      margin-top: -10px;
      font-weight: 600;
    }
    .col{
      width: 33.33%;
      float: left;
      margin-top: -5px;
      margin-bottom: 50px;
      .sub-sectionTitle{
        font-weight: 600;
      }
      .content{
        text-align: justify;

      }
    }
  }

  .caption{
    color: $accent;
    display: inline;
    font-size: 14px !important;
    font-weight: 500;
    font-style: italic;
  }

  .coverImage {
    margin-top: 50px;
    min-height: 400px;
    width: 100%;
    position: relative;
    background-size: contain;
    opacity: 100%;
    overflow: hidden;
    padding-left: 20px;;
  }

  .quote {
    text-align: center;
    // width: 80vh;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 35%;
    a:hover {
      text-decoration-color: white;
    }
  }

  .resource-single{
    margin-top: -40px;
  }

  .main-quote {
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: "playfair-display";
  }

  .author {
    color: white;
    font-weight: 600;
    &:hover {
      opacity: 95%;
      transform: translateY(-2px);
    }
  }

  .designation {
    color: white;
    margin-top: -20px;
  }

  .title {
    text-decoration: none;
    text-decoration-color: #00aabdb7;
    padding-bottom: 10px;
  }

  .content {
    text-align: justify;
  }

  //CTA
  .cta-box {
    height: 200px;
    margin-bottom: 60px;
    border: 1.5px solid #004970;
    border-radius: 1.5px;
    margin-top: 40px;
    padding: 0px 35px 0px 35px; //top right bottom left

    .button {
      background-color: $primary;
      background: linear-gradient(120deg, rgba(0, 73, 112, 1) 0%, rgba(0, 171, 189, 1) 70%);
      padding: 0px 35px 10px 35px; //top right bottom left
      color: #ffffff;
      border-radius: 6px;
      border: none;

      .button-text {
        color: $white;
        text-decoration: none;
      }
    }

    #heading {
      color: $primary;
      text-transform: lowercase;
    }
  }

  // FAQ Accordion
  .accord {
    margin-top: 20px;
    margin-left: -15px;
    margin-bottom: 40px;
  }

  //For faq block 1
  button.accordion {
    width: 100%;
    background-color: $white;
    outline: none;
    border-width: 0px 0px 1px 0px; //top right bottom left;
    border-bottom-color: rgba(51, 51, 51, 0.116) !important;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    color: rgb(62, 63, 63);
    cursor: pointer;
    transition: background-color 0.2s linear;
  }
  button.accordion:after {
    font-size: 18px;
    float: right;
  }

  button.accordion.is-open:after {
    .fas {
      display: none;
    }
  }

  button.accordion:hover,
  button.accordion.is-open {
    background-color: $primary;
    background: -webkit-linear-gradient(20deg, rgba(0, 73, 112, 1) 0%, rgba(0, 171, 189, 1) 100%);
    color: $white;
  }
  //----
  // For faq block 2
  button.accordion2 {
    width: 100%;
    background-color: $white;
    outline: none;
    border-width: 0px 0px 1px 0px; //top right bottom left;
    border-bottom-color: rgba(51, 51, 51, 0.116) !important;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    color: rgb(62, 63, 63);
    cursor: pointer;
    transition: background-color 0.2s linear;
  }
  button.accordion2:after {
    font-size: 18px;
    float: right;
  }

  button.accordion2.is-open:after {
    .fas {
      display: none;
    }
  }

  button.accordion2:hover,
  button.accordion2.is-open {
    background-color: $primary;
    background: -webkit-linear-gradient(20deg, rgba(0, 73, 112, 1) 0%, rgba(0, 171, 189, 1) 100%);
    color: $white;
  }
  //---


  .accordion-content {
    background-color: white;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  .answer {
    padding-top: 20px;
    font-size: 16px !important;
  }
  
  .faq-image[src=""] {
    display:none;
  }

  .fas {
    margin-left: -10px;
    padding-right: 20px;
    font-size: 12px !important;
  }

  //mobile responsiveness
  @media screen and (max-width: 600px) {

    .text-widget{
      margin-bottom: 20px !important;
      .col{
        width: 100% !important;
        margin-bottom: 20px !important;
        flex-basis: auto;
      }
    }
    .caption{
      display: block;
    }


    .coverImage{

      min-height: 300px !important;
      img{
        background-size: contain !important;
        // max-width: 500px;
      }
      .quote{
        top: 25%;
        left: 0;
        padding: 10px;
        margin-left: 20px;
        width: fit-content;
      }
    }
    .resource-single{
      margin-top: -20px;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .cta-box{
      margin-bottom: 60px;
      height: auto;
      padding-bottom: 40px;
    }

  }

  //tablet responsiveness 
  @media screen and (min-width: 768px) and (max-width: 1180px) {

    .cta-box{
      margin-bottom: 70px !important;
    }
    
    .caption{
      display: block !important;
    }
    .text-widget{
      .content{
        text-align: left !important;
      }

    }

  }

}
