.footer {
  background: $footer-background-color;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
  padding-top: 15px;
  padding-bottom: 15px;
  .footer-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    @include media-breakpoint-up(sm) {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
  }
  .footer-title {
    // color: #ffffff;
    color: $text;
    font-size: 1.1rem;
    font-family: $font-family-heading;
    font-weight: bold;
    margin-bottom: 10px;
    @include media-breakpoint-up(sm) {
      margin: 0;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      // color: $footer-text-color;
      color: $primary;
      // font-size: 1rem;
      font-size: 0.875rem;
      a {
        // color: $footer-text-color;
        color: $primary;
        text-decoration: none;
        padding: 12px 14px 12px 0;
        display: block;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    @include media-breakpoint-up(sm) {
      height: inherit;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: flex-end;
      li {
        list-style: none;
        margin-right: 10px;
        &:last-of-type {
          margin-right: 0;
        }
        a {
          display: inline-block;
          height: 40px;
          padding: 10px 8px 10px 8px;
        }
      }
    }
  }

  //mobile responsiveness
  @media screen and (max-width: 600px) {

    .row{
      padding-left: 15px !important;
      flex-direction: inherit !important;


      .footer-links{
        display: block !important;
      }

      .footer-column{
        margin-bottom: 20px !important;
      }
    }

  }

  //tablet responsiveness 
  @media screen and (min-width: 768px) and (max-width: 1180px) {
    .row{
      padding-left: 40px !important;
      flex-direction: inherit !important;
    }
    .footer-links{
      display: block !important;
    }

  }
}
