.social {
  display: block;
  img {
    width: 18px;
    height: 18px;
  }
  a {
    padding: 10px;
    display: inline-block;
    &:hover {
      opacity: 0.8;
    }
  }

  .Linkedin{
    margin-right: -12px !important;
  }

  .Twitter{
    padding-top: -35px !important;
  }
}