---
layout: default
bodyClass: "page-teams"
---

<div class="container main-container">

<div class="intro">
    <div class="container inner-heading-intro">
        <div class="row justify-content-start">
            {{ content }}
        </div>
    </div>
</div>

<div class="container profiles-row">
    <div class="row">
        {% assign teams = site.team | sort: "weight" %}
        {% for team in teams %}
        <div class="col-lg-3 mb-4">
            <div class="container ">
                <div class="row">
                    {% if team.image %}
                    <div class="teamImg">
                        <a href="{{ team.url | relative_url }}">
                        <img height="250" width="250" alt="{{ team.title }}" class=""
                            src="{{ team.image | relative_url }}" />
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="team team-summary">
                        <div class="team-meta">
                            <h2 class="team-name team-name-main"><a href="{{ team.url | relative_url }}">{{ team.title
                                    }}</a></h2>
                            <p class="team-description">{{ team.jobtitle }}</p>
                            {% if team.linkedinurl %}
                            <a target="_blank" href="{{ team.linkedinurl }}" rel="noreferrer"> {{ team.linkedinUsername }}
                            </a>
                            {% endif %}
                            {% if team.twitterurl %}
                            <a target="_blank" href="{{ team.twitterurl }}" rel="noreferrer">{{ team.twitterUsername }}</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

</div>
